.profile-header{
  font-family: "Nutino Sans", sans-serif;
  font-size: 42px;
  font-weight: 800;
  color: #8B8B8B;
  margin: 50px 0px 0px 78px;
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.change-wallet {
  margin-right: 150px;
  width: auto !important;
  padding: 15px 20px;
}

.my-wallet {
  display: flex;
  justify-content: center;

  .dashboard-container {
    background-color: #FFFFFF;
    height: 492px;
    width: 560px;
    border-radius: 10px;
    margin-right: 20px;
    position: relative;

    .dashboard-header {
      position: absolute;
      left: 30px;
      top: 8.55%;

      font-family: 'Nunito Sans', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 27px;

      color: #8B8B8B;
    }

    .dashboard-wrapper {
      display: flex;
      flex-direction: column;
      position: relative;

      .sol-usd {
        background-color: #F6F6F6;
        position: absolute;
        width: 536px;
        height: 56px;
        left: 12px;
        top: 88px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        align-items: center;

        p {
          margin: 0px;
          margin-left: 52px;
          padding: 19px 0px;
        };
      }

      .dashboard {
        border: 1px solid #F0F0F0;
        position: absolute;
        width: 536px;
        height: 246px;
        left: 12px;
        top: 144px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}


// Highest floor price
.highest-floor-price {
  background-color: #FFFFFF;
  height: 492px;
  width: 270px;
  border-radius: 10px;
  margin-left: 20px;
  position: relative;

  .highest-header {
    position: absolute;
    left: 11.25%;
    top: 11.55%;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: #8B8B8B;
  }
}

.nft-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  width: 100%;
}

.wrapper-nfts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  grid-gap: 20px;

}

.h2-highest {
  color: #FFFFFF;
  font-size: 20px;
  position: absolute;
  left: 12px;
  bottom: 16px;
  font-family: sans-serif;
}

.p-highest {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: lighter;
  position: absolute;
  left: 12px;
  bottom: -12px;
}

.highest-floor {
  padding: 9px 0px;
}

.nft-see-more {
  position: absolute;
  bottom: 0px;
}

.modal-body-search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-bar-small {
  width: 100% !important;
  padding: 20px 40px;
  background-color: rgba(202, 247, 237, 0.6);
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 40px;
  border: 1px solid #30E8BF;

}

.modal-search-header {
  font-family: sans-serif;
  color: #353535;
}

.modal-header {
  border: none;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 27px;
  margin: 0px;
  font-family: sans-serif !important;
  color: #353535 !important;
}

.modal-content-search {
  width: 550px;
  height: 630px;
}

.number {
  color: #353535;
  margin-right: 8px;
}

.modal-body-best {
  display: flex;

}

.search-list-container {
  position: absolute;
  width: 95%;
  background-color: rgba(202, 247, 237, 0.6);
  left: 0px;
}

.sol {
  border-radius: 10px;
  background-color:#F6F6F6;
  width: 420px;
  height: 150px;
  text-align: center;
  margin-left: 20px;
}

.details {
  padding-top: 20px;
.mb-4 {
  margin: 0px !important;
}
}

.watchlist-form {

  width: 100% !important;
}

.search-list-container {
 background-color: #FFFFFF;

}

.modal-body {
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.big-shadow {
position: absolute;
width: 246px;
height: 170px;
top: 0px;
left: 0px;

background: linear-gradient(360deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
border-radius: 10px;
}


.modal-best {
  height: 480px;
  display: flex;
  align-items: flex-start !important;
  flex-direction: column;
  position: relative;
}

.modal-content-best {
  width: 450px !important;
}

.btn-best {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

.collection-header {
  margin-right: 130px;
}
