.profile-header{
  font-family: "Nutino Sans", sans-serif;
  font-size: 42px;
  font-weight: 800;
  color: #8B8B8B;
  margin: 50px 0px;
  margin-left: 78px;
}

.my-wallet {
  display: flex;
  justify-content: center;

  .dashboard-container {
    background-color: #FFFFFF;
    height: 492px;
    width: 560px;
    border-radius: 10px;
    margin-right: 20px;
    position: relative;

    .dashboard-header {
      position: absolute;
      left: 30px;
      top: 8.55%;

      font-family: 'Nunito Sans', sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 27px;

      color: #8B8B8B;
    }

    .dashboard-wrapper {
      display: flex;
      flex-direction: column;
      position: relative;

      .sol-usd {
        background-color: #F6F6F6;
        position: absolute;
        width: 536px;
        height: 56px;
        left: 12px;
        top: 88px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        align-items: center;

        p {
          margin: 0px;
          margin-left: 52px;
          padding: 19px 0px;
        };
      }

      .dashboard {
        border: 1px solid #F0F0F0;
        position: absolute;
        width: 536px;
        height: 246px;
        left: 12px;
        top: 144px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}


// Highest floor price
.highest-floor-price {
  background-color: #FFFFFF;
  height: 492px;
  width: 270px;
  border-radius: 10px;
  margin-left: 20px;
  position: relative;

  .highest-header {
    position: absolute;
    left: 11.25%;
    top: 11.55%;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: #8B8B8B;
  }
}

.nft-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.wrapper-nfts {
  width: 1140px;
  display: flex;
  flex-wrap: wrap;

}

.h2-highest {
  color: #FFFFFF;
  font-size: 20px;
  position: absolute;
  left: 12px;
  bottom: 13px;
}

.p-highest {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: lighter;
  position: absolute;
  left: 12px;
  bottom: -12px;
}

.highest-floor {
  padding: 15px 0px;
}

.nft-see-more {
  position: absolute;
  bottom: 0px;
}

.modal-body-search {
  position: relative;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 30px 45px 30px;
}

.search-bar-small {
  width: 500px !important;
  padding: 20px 40px;
  background-color: rgba(202, 247, 237, 0.6);
  border-radius: 10px;
  display: inline-block;
  position: absolute;
}

.modal-search-header {
  font-family: "Roboto", sans-serif;
  color: #353535;
}

.modal-header {
  border: none;
}

.modal-content-search {
  width: 550px;
}
