 <footer>
  <div class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="links">
          <p class="link">About us</p>
          <p class="link">Collections</p>
          <p class="link">Analytics</p>
        </div>
        <div class="social">
          <a href="#"><i class="fa-brands fa-twitter-square"></i></a>
          <a href="#"><i class="fa-brands fa-github-square"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
