<% if !current_page?('/') %>
  <header>
  <div class="navbar">
      <div class="container">
        <div class="navbar-content">
            <p class="logo">SGMI</p>
            <div class="search-bar">
              <%= simple_form_for :search, url: collections_path, method: "GET", html: { class: 'form-inline' } do |f| %>
                <div class="search-bar-form">
                  <%= f.input :keyword, label: false, :input_html => { :style=> 'width: 470px' }  %>
                  <%= f.submit "Search", class: "btn-search" %>
                </div>
              <% end %>
            </div>
            <%= link_to "Connect wallet", profile_path, class:"connect"%>
        </div>
      </div>
  </div>
</header>

<% end %>
