
<div class="speedbox">
  <div class="speedbox__score" id="speedbox-score"></div>
  <div class="speedbox__groove"></div>
  <div class="speedbox__odo">
    <%# <div class="speedbox__ping"><i class="fa fa-clock-o"></i> <span></span></div>
    <div class="speedbox__up"><i class="fa fa-arrow-circle-up"></i><span></span></div> %>
    <div class="speedbox__down"><i class="fa fa-arrow-circle-up"></i> 15 <span>SOL</span></div>
  </div>
  <div class="speedbox__base"></div>
