

<div class="speedbox" data-controller="speedometer">
  <div class="speedbox__score" data-speedometer-target="speed" id="speedbox-score"></div>
  <div class="speedbox__groove"></div>
  <div class="speedbox__odo">
    <%# <div class="speedbox__ping"><i class="fa fa-clock-o"></i> <span></span></div>
    <div class="speedbox__up"><i class="fa fa-arrow-circle-up"></i><span></span></div> %>
    <div class="speedbox__down" data-speedometer-target="profit" name="<%= profit.round(2) if defined?(profit) && profit %>" ><i class="fa fa-arrow-circle-up"></i><%=  profit.round(2) if defined?(profit) && profit %>  <span>SOL</span></div>
    <div class="speedbox__up"><i class="fa fa-arrow-circle-up"></i>$<%=  profit_in_usd.round(2) if defined?(profit_in_usd) && profit_in_usd %>  <span>USD</span></div>
  </div>
  <div class="speedbox__base"></div>
  <div class="speedbox_legend">
    <span>-10 SOL</span>
    <span>0 SOL</span>
    <span>+10 SOL</span>
  </div>
