
<div class="speedbox">
  <div class="speedbox__score" id="speedbox-score"></div>
  <div class="speedbox__groove"></div>
  <div class="speedbox__odo">
    <div class="speedbox__ping"><i class="fa fa-clock-o"></i> 28<span>ms</span></div>
    <div class="speedbox__up"><i class="fa fa-arrow-circle-up"></i> 1.1<span>mb/s</span></div>
    <div class="speedbox__down"><i class="fa fa-arrow-circle-down"></i> 8.7<span>mb/s</span></div>
  </div>
  <div class="speedbox__base"></div>
