<div class="modal fade" id="" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="watchlist">

  <div class="modal-dialog" data-controller="search-collections">
    <div class="modal-content modal-content-search">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-search-header">Search for an NFT collection!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body-search" data-search-collections-target="collection">
        <table class="table">
        <tbody>
         <div class="search-bar-small">
              <div>
                <%= form_with url: collections_path, method: :get, html: { class:
                'mb-4', data: { search_collections_target: 'form' } } do |f| %>
                <%= f.text_field :query,
                class: "form-control",
                placeholder: 'Search for a collection',
                value: params[:query],
                data: { search_collections_target: 'input',
                action: 'keyup->search-collections#update',
                # action: 'ajax:beforeSend->search-collections#submission'
                 } %>
                <i class="fa-solid fa-magnifying-glass"></i>

              </div>
              <% end %>
              <div data-search-collections-target="list"  class="search-list-container"> </div>
            </div>
        </tbody>
      </table>

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="staticBackdrop" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1" data-controller="watchlist">
  <div class="modal-dialog modal-dialog-centered" data-controller="search-collections">
    <div class="modal-nft-wrapper">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Search for a collection!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-body-search" data-search-collections-target="collection">
        <table class="table">
        <tbody>
         <div class="search-bar-small">
              <div>
                <%= form_with url: collections_path, method: :get, html: { class:
                'mb-4', data: { search_collections_target: 'form' } } do |f| %>
                <%= f.text_field :query,
                class: "form-control",
                placeholder: 'Search for a collection',
                value: params[:query],
                data: { search_collections_target: 'input',
                action: 'keyup->search-collections#update',
                # action: 'ajax:beforeSend->search-collections#submission'
                 } %>
                <i class="fa-solid fa-magnifying-glass"></i>

              </div>
              <% end %>
              <div data-search-collections-target="list"  class="search-list-container"> </div>
            </div>
        </tbody>
      </table>

      </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Open second modal</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Hide this modal and show the first with the button below.
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Back to first</button>
      </div>
    </div>
  </div>
</div>
<a class="btn btn-primary" data-bs-toggle="modal" href="#staticBackdrop" role="button">Go back</a>
