<div class="modal fade" id="exampleModalToggle" data-bs-backdrop="static" aria-hidden="true"  aria-labelledby="exampleModalToggleLabel" tabindex="-1" data-controller="watchlist">

  <div class="modal-dialog modal-dialog-scrollable" data-controller="search-collections">
    <div class="modal-content modal-content-search">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">Search for an NFT collection!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" data-search-collections-target="collection">
         <div class="search-bar-small">
            <div>
              <%= form_with url: collections_path, method: :get, html: { class:
              'mb-4', data: { search_collections_target: 'form' } } do |f| %>
              <%= f.text_field :query,
              class: "form-control watchlist-form",
              placeholder: 'Search for a collection',
              value: params[:query],
              data: { search_collections_target: 'input',
              action: 'keyup->search-collections#update',
              # action: 'ajax:beforeSend->search-collections#submission'
                } %>
            <% end %>
          </div>
            </div>
          <div class="purple">
          <div data-search-collections-target="list"  class="search-list-container"> </div>
          </div>
      </div>
    </div>
  </div>
</div>
