<div class="d-flex justify-content-center p-3 mt-5">
  <h1>Who is SGMI?</h1>
</div>

<div class="container">
  <div class="row">
    <div class="text-center my-5">
      <div class="paragraph-about">
        <p>  Our SGMI project was born out of necessity to track all of the NFTs that are traded on Solana blockchain.
        We have been able to make NFTs tracking simpler and easier for the visitors of our platform,
        who want to get more informations about the Solana NFTs in general, or about the NFTs that they already hold.
        <br>
        The SGMI team is made up of four junior developers, who have graduated from the
        LeWagon Bootcamp in Munich, Germany.
        We all come from different previous backgrounds, but we definitely share a few things in common.
        One of those things is our passion for coding and the amazing world of cryptocurencies and NFTs trading.
        As a team, we have worked on this project for about two weks and we are proud of our
        work as a team and believe that LeWagon will be proud of our work as well.</p>
      </div>
    </div>
  </div>

  <div class="container about_container mt-5">
    <div class="row align-items-start">
      <div class="col justify-content-center text-center">
          <%=image_tag "https://lh3.googleusercontent.com/r7DpPI36Dqihn5NcQLBLwD4OvrFa0SXR3DgA7lksjTz-2kf859OAytNcyZgvpXAIQFJ2fiPCAxZsMZSKmo_yYKgk7cP_lvOrp5ewow", class:"img-fluid rounded-circle" %>
          <p>Alexandra Hedman</p>
          <p>Full Stack Developer & CEO</p>
      </div>
      <div class="col justify-content-center text-center">
        <%=image_tag "https://pbs.twimg.com/profile_images/1526978149124276224/nOtBkJjk_400x400.png", class:"img-fluid rounded-circle" %>
        <p>Mahmoud Hajji</p>
        <p>Full Stack Developer & CMO</p>
      </div>
      <div class="col justify-content-center text-center">
        <%=image_tag "https://img.nzz.ch/2022/03/14/d1ebc4ab-220a-43ec-9efa-e751d7a777ff.jpeg?width=654&height=654&fit=bounds&quality=75&auto=webp&crop=1262,1262,x0,y0", class:"img-fluid rounded-circle" %>
        <p>Spiros Tsiakalos</p>
        <p>Fullstack Developer & CTO</p>
      </div>
      <div class="col justify-content-center text-center">
        <%=image_tag "https://images.wsj.net/im-491402?width=700&height=700", class:"img-fluid rounded-circle" %>
        <p>Raisa Tarase</p>
        <p>Fullstack Developer & CFO</p>
      </div>
  </div>
 </div>
</div>
