<div class="d-flex justify-content-center p-3">
  <h1>Who we are</h1>
</div>
<div class="row justify-content-center">
  <div class="col-4">
    <p class="text-center">
      The SGMI team is comprised of four Jr. Developers, Mahmoud Rami Hajji, Alexandra Hedman, Raisa Tarase,
      and Spyridon-Christoforos Tsiakalos. We all come from different backgrounds but came together as a LeWagon
      team to develop the SGMI platform. SGMI is a tracking platform designed for NFT enthusiasts. We offer an
      extensive range of features that make tracking NFTs on our site simple and easy. SGMI also offers a variety
      of other services that we hope you will enjoy.
    <p class="text-center">
      As a group, we've worked tirelessly on this project, and we think it will turn out well.
      Our platform is mobile-friendly, offers an array of features for ease of use, and it looks good too!
      It also has an intuitive interface that combines modern standards with traditional design patterns.
      We are proud of our work as a team and believe that LeWagon will be proud as well.</p>
    </p>
  </div>
</div>

<div class="container about_container">
  <div class="row align-items-start">
    <div class="col">
      <%=image_tag "alex.jpeg", class:"img-fluid rounded-circle" %>
      <div class="d-flex justify-content-center">
        <p>Alexandra Hedman</p>
      </div>
    </div>
  <div class="col">
    <%=image_tag "mahmoud.png", class:"img-fluid rounded-circle" %>
    <div class="d-flex justify-content-center">
      <p>Mahmoud Hajji</p>
    </div>
  </div>
  <div class="col">
    <%=image_tag "spiros.png", class:"img-fluid rounded-circle" %>
    <div class="d-flex justify-content-center">
      <p>Spiros Tsiakalos</p>
    </div>
  </div>
  <div class="col">
    <%=image_tag "raisa.jpeg", class:"img-fluid rounded-circle" %>
    <div class="d-flex justify-content-center">
      <p>Raisa Tarase</p>
    </div>
  </div>
  </div>
</div>
