<div class="d-flex justify-content-center p-5 mt-5">
  <h1>CONTACT US</h1>
  <h2>TRUST THE PROCESS</h2>
</div>

<div class="container-big">
    <div class="container p-5">
      <div class="row align-items-center">
      <div class="col-4">
        <h2>What is an NFT?</h2>
      </div>
      <div class="col-8">
        <div class="paragraph">
          <p> A non-fungible token (NFT) is a digital asset representing digital art, music,
          games and videos and it's stored in a blockchain. NFTs are very similar to traditional stocks in the sense that
          they can be bought, sold, and held online frequently with cryptocurrency. An NFT is generally encoded with
          the same software like cryptocurencies.</p>
        </div>
      </div>
    </div>
  </div>
  