<div class="d-flex justify-content-center p-5 mt-5">
  <h1>FAQ</h1>
  <h2>TRUST THE PROCESS</h2>
</div>

<div class="container-big">
    <div class="container p-5">
      <div class="row align-items-center">
      <div class="col-4">
        <h2>Where do I buy SGMI NFT?</h2>
      </div>
      <div class="col-8">
        <div class="paragraph">
          <p>You can buy SGMI on either of the three official marketplaces : </p>
        </div>
      </div>
    </div>
  </div>
  