<div class="d-flex justify-content-center mt-5">
  <h1>FAQ</h1>
</div>

<div class="d-flex justify-content-center">
<h2>TRUST THE PROCESS</h2>
</div>

<div class="container-big">
    <div class="container p-5">
      <div class="row align-items-center">
      <div class="col-4">
        <h2>Where can I buy an SGMI NFT?</h2>
      </div>
      <div class="col-8">
        <div class="paragraph">
          <p>You can buy SGMI on either of the two official marketplaces : </p>
          <p>Magic Eden -> https://magiceden.io/</p>
          <p>Opensea -> https://opensea.io/</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-big">
    <div class="container p-5">
      <div class="row align-items-center">
      <div class="col-4">
        <h2>I got my SGMI now, what do I do?</h2>
      </div>
      <div class="col-8">
        <div class="paragraph">
          <p>1. Join the community at our Discord</p>
          <p>2. Verify your SGMI to access SGMI-DAO channels </p>
          <p>3. Drown in love from the community and immerse yourself.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-big">
    <div class="container p-5">
      <div class="row align-items-center">
      <div class="col-4">
        <h2>Where can I stake my SGMI?</h2>
      </div>
      <div class="col-8">
        <div class="paragraph">
          <p>You can stake your SGMI NFT at our staking platform </p>
          <p>SGMI mint the same amount of $SGMI (10 $SGMI / day) regardless of rarity.</p>
          <p>You can trade your $SGMI for SOL on FFF Platform</p>
        </div>
      </div>
    </div>
  </div>
  