<div class="d-flex justify-content-center p-3 mt-5">
  <h1>Introduction to NFTs</h1>
</div>

<div class="container">
  <div class="row">
    <div class="text-center my-5">
      <h2>What is an NFT?</h2>
      <p> A non-fungible token (NFT) is a digital asset representing digital art, music,
      games and videos that are stored in a blockchain. NFTs are very similar to traditional stocks in the sense that
      they can be bought, sold, and held online frequently with cryptocurrency, and they are generally encoded with
      the same software like cryptocurencies.</p>

      <h2>What is a Wallet?</h2>
      <p> An NFT wallet is a cryptocurrency wallet that supports the blockchain protocol NFTs are built on and the
      currency that the NFTs are bought with (such as Solana). A Wallet can have multiple wallet addresses,
      one for each type of crypto asset and the assets have a unique wallet address.

      The wallet addresses are used to perform transactions and the addresses can be moved around to different "wallet" providers.
      A crypto wallet is a self-custodied digital wallet used to store and manage cryptocurrencies and NFTs.
      That means you and only you will have access to the wallet. Wallets are accessed using a Recovery Phrase
      or Private Key, which gives the owner permission to transfer tokens from that wallet.</p>

      <h2>What is Solana?</h2>
      <p>Solana is an open-source project, a blockchain platform designed to host decentralized, scalable applications.
        Solana is the fastest blockchain in the world and the fastest growing ecosystem in crypto, with thousands of projects
        spanning DeFi, NFTs, Web3 and more. Solana is much faster in terms of the number of transactions it can process and
        has significantly lower transaction fees compared to rival blockchains like Ethereum.
        The cryptocurrency that runs on the Solana blockchain—also named Solana (SOL) and with the ticker symbol SOL is the
        fifth-largest cryptocurrency by this measure</p>
    </div>
  </div>
</div>
