<div class="d-flex justify-content-center p-5 mt-5">
  <h1>Introduction to NFTs</h1>
</div>

<div class="container-big">
    <div class="container p-5">
      <div class="row align-items-center">
      <div class="col-4">
        <h2>What is an NFT?</h2>
      </div>
      <div class="col-8">
        <div class="paragraph">
          <p> A non-fungible token (NFT) is a digital asset representing digital art, music,
          games and videos and it's stored in a blockchain. NFTs are very similar to traditional stocks in the sense that
          they can be bought, sold, and held online frequently with cryptocurrency. An NFT is generally encoded with
          the same software like cryptocurencies.</p>
        </div>
      </div>
    </div>
  </div>

    <div class="container p-5">
      <div class="row align-items-center">
        <div class="col-4">
          <h2>What is a Wallet?</h2>
        </div>
        <div class="col-8">
            <div class="paragraph">
            <p> An NFT wallet is a cryptocurrency wallet that supports the blockchain protocol that the NFTs are built on and the
            currency that the NFTs are bought with (such as Solana). A Wallet can have multiple wallet addresses,
            one for each type of crypto asset and the assets have a unique wallet address.

            The wallet addresses are used to perform transactions and the addresses can be moved around to different "wallet" providers.
            A crypto wallet is a self-custodied digital wallet used to store and manage cryptocurrencies and NFTs.
            Wallets are accessed using a Recovery Phrase or Private Key, which gives the owner permission to
            transfer tokens from that wallet.</p>
          </div>
        </div>
      </div>
  </div>

  <div class="container p-5">
      <div class="row align-items-center">
      <div class="col-4">
        <h2>What is Solana?</h2>
      </div>
      <div class="col-8">
        <div class="paragraph">
          <p>Solana is an open-source project, a blockchain platform designed to host decentralized, scalable applications.
            Solana is the fastest blockchain in the world and the fastest growing ecosystem in crypto, with thousands of projects
            spanning DeFi, NFTs, Web3 and more. Solana is much faster in terms of the number of transactions it can process and
            has significantly lower transaction fees compared to rival blockchains like Ethereum.
            The cryptocurrency that runs on the Solana blockchain is also named Solana (SOL) and it's the
            fifth-largest cryptocurrency by this measure</p>
        </div>
      </div>
    </div>
  </div>
</div>
