<div class="container">
  <h1 class="profile-header">My Wallet</h1>
  <div class="my-wallet">
    <div class="dashboard-container">
      <h2 class="dashboard-header">My wallet's performance</h2>
      <div class="dashboard-wrapper">
        <div class="sol-usd">
          <p>SOL/USD</p>
        </div>
        <div class="dashboard">
        </div>
      </div>
    </div>


    <div class="card-container">
      <h2 class="card-header-big">Best performing NFTs</h2>
      <div class="wrapper-cards-btn">
        <div class="card-xs-small">
          <img src="https://bafybeib7iyh7l5jdqbl22jzx35xnvjjl2b2rcumqgtpnfxub7h3be3xrwq.ipfs.nftstorage.link/9998.png?ext=png" alt="" class="card-xs-small-image">
          <div class="card-xs-small-content">
            <div class="card-xs-small-content-headers">
              <p class="collection-name">Collection name</p>
              <p class="nft-name">NFT name</p>
            </div>
            <div class="card-xs-small-content-info">
              <p class="collection-floor-price">Floor price</p>
              <p class="collection-supply">Supply</p>
            </div>
          </div>
        </div>
        <div class="card-xs-small"></div>
        <div class="card-xs-small"></div>
        <div class="card-xs-small"></div>
        <%= link_to "See more", profile_path, class: "btn-big-white-green-border"%>
      </div>
    </div>

    <div class="card-container2">
      <h2 class="card-header-big">Highest floor price</h2>
      <div class="wrapper-cards-btn">
      </div>
    </div>

  </div>

  <div class="my-watchlist">
    <div class="watchlist-container"></div>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="chart-container" style="position: relative; height:10vh; width:30vw">   <%# we can just use width and height to make the chart smaller %>
      <canvas id="myChart" data-labels="<%= @data_keys %>" data-data="<%= @data_values %>" ></canvas>
    </div>
  </div>
</div>
