.btn-green-big {
  color: #30E8BF;
  background-color: #CAF7ED;
  border: 1px solid #30E8BF;
  width: 270px;
  height: 48px;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  padding: 16px 0px;
  font-size: 12px;
  font-weight: bold;
}

.btn-green-big:hover {
  color: #1EC29F;
  border-color: #1EC29F;
}
