.btn-green-big {
    color: #30E8BF;
    background-color: #CAF7ED;
    border: 1px solid #30E8BF;
    width: 270px;
    height: 48px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    padding: 14px 0px;
    font-size: 14px;
    font-weight: bold;
    z-index: 500;
}

.btn-green-big:hover {
  color: #1EC29F;
  border-color: #1EC29F;
}


  .btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }
