// Big white button with green border and text

.btn-big-white-green-border {
  color: #30E8BF;
  border: 1px solid #30E8BF;
  width: 270px;
  height: 45px;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  padding: 12px 0px;
  font-size: 14px;
  font-weight: bold;
}

.btn-big-white-green-border:hover {
  color: #1EC29F;
  border-color: #1EC29F;
}
