.card-container2 {
  background-color: #FFFFFF;
  height: 492px;
  width: 270px;
  border-radius: 10px;
  position: relative;
}

.big-image {
  height: 170px;
  width: 246px;
  border-radius: 10px;
  position: relative;
}

.card-lg-image {
  height: 162px;
  width: 246px;
  border-radius: 10px;
  object-fit: cover;
}
