// This refers to the four small cards with a button

.card-container {
  height: 492px;
  width: 330px;
  border-radius: 10px;
  position: relative;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .card-header-big {
    position: absolute;
    top: 7.55%;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: #8B8B8B;
    margin: 0px;
  }

  .wrapper-cards-btn {
    height: 392px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 92px;
    align-items: center;
    padding: 0px 12px;

    .card-xs-small {
      width: 100%;
      height: 109px;
      border-radius: 10px;
      margin-bottom: 8px;
      background-color: #FFFFFF;
      display: flex;


      .card-xs-small-image {
        height: 109px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      .card-xs-small-content {
        display: flex;
        flex-direction: column;
        padding: 10px;
        flex-grow: 1;
      }

      .card-xs-small-content-headers {
        flex-grow: 1;
        cursor: pointer;
        font-size: 15px;

        .collection-name {
          color: #353535;
          font-weight: lighter !important;
          font-size: 15px;
          margin-bottom: 0px;

        }

        .nft-name {
          color: #353535;
          font-size: 15px;
          margin-bottom: 0px;
        }
      }


      .card-xs-small-content-info {
        display: flex;
        flex-direction: column;
        color: #353535;
        font-size: 14px;

        p {
          margin-bottom: 0px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: initial;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
.card-text-thin {
  color: #8B8B8B;
  font-size: 12px;
  font-weight: lighter;
  padding: 0px !important;
}

.four-cards {
  position: absolute;
  bottom: -8px;
}

.text-muted {
  font-weight: lighter;
}

.headers-black {
  color: #353535;
}
