.footer {
  background: linear-gradient(90deg, #C651E0  0%, #22D8B1 100%);
  margin: 0px;
  flex: 1 1 auto;
  height: 128px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 0px;
}

.links {
  display: flex;
  color: #FFFFFF;
  font-weight: lighter;

  .text {
    margin-right: 50px;
    margin-bottom: 0px;
  };
}

.fa-brands {
  opacity: 0.6;
  color: #FFFFFF;
  font-size: 42px;
  margin-left: 17px;
}

.fa-brands:hover {
  opacity: 1;
  transition: 0.3s;
}
