.modal-drops {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 700px;
  pointer-events: auto;
  background-color: #FFFFFF;
  background-clip: padding-box;
  border: 1px solid #F0F0F0;
  border-radius: 10px;
  outline: 0;
  height: auto;
  padding: 20px;
  height: 430px;
  padding-right: 12px !important;
}

.modal-drop {
  height: 430px;
  display: flex;
  align-items: flex-start !important;
  flex-direction: column;
}

.modal-content-drop {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #F0F0F0;
  border-radius: 10px;
  outline: 0;
  height: 666px;
  padding: 20px;
}

.card-xs-small-content-modal {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-grow: 1;
  height: 128px;
  justify-content: space-between;
}

.drop-modal-title {
  border: none;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  font-family: sans-serif;
  line-height: 27px;
  margin: 0px 20px 0px 0px;
  font-family: sans-serif;
  color: #353535 !important;
  font-weight: lighter;
  padding: 0px;
  position: relative;

}

.upcoming-collections-image {
  display: flex;
  height: 100px;
  border-radius: 10px;
}


  .collection-data {
    color: #8B8B8B;
    width: 100%;
    display: flex;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: lighter;
}



  .drop-image {
  height: 128px;
  width: 128px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  align-items: center;
  margin-right: 12px;
}


.drop-container {
  display: flex;
  width: 425px;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid #F0F0F0;
}

.drop-container-modal {display: flex;
width: 425px;
border-radius: 10px;
align-items: center;
margin-bottom: 15px;
border: 1px solid #F0F0F0;
height: 128px;
position: relative;
}

.modal-titels {
  font-size: 28px !important;
}

.drops-data {
  display: flex;
  justify-content: center;
}

.modal-social-container {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  height: 128px;
  padding-bottom: 12px;

}

.modal-social {
  color: #C651E0;
  font-size: 28px !important;
  margin: 0px;
  margin-right: 8px;
  text-decoration: none;
  opacity: 1 !important;
}

.modal-social:hover {
  color: #C651E0;
  opacity: 0.6 !important;
}


.font-change {
  font-family: sans-serif;
}
