.collection-item-p {
  position: relative;
}

.card-xs-small-content-info {
  display: flex;
  flex-direction: column;
}

.wrapper-drops {
  width: 100%;

}
.content-info {
  padding: 5px 0px 0px 0px !important;
}

.drop {
  top: 92px;
}
