

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@300;400;700&display=swap');

// Style that should apply to all components with these classes:
 body {
   font-family: sans-serif !important;
   background-color: #F6F6F6;
   color: #353535;
 }

 .link {
   font-size: 16px;
 }

.container {
  min-height: fit-content;
}

.row {
  margin: 50px 0px;
  justify-content: center;
}

.alert {
  margin: 0px;
  border-radius: 0px;
}

h1, h2 {
  font-family: sans-serif !important;
}
